.appMain {
  height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
}

/* add note page  */

.AddNotesForm {
  /* min-height: calc(100vh - 64px); */
  height: 100%;
}

.AddNotesForm .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.AddNotesForm .wrapper h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.AddNotesForm .wrapper .form-elements {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.AddNotesForm .wrapper .form-elements .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* quill editor div  */

.quill .ql-container {
  overflow: auto;
  height: 150px;
  max-height: 150px;
}
